<div class="navigation-menu">
    <nav class="navigation-menu__container">
        <div class="navigation-menu__account     button"> <a href="#">Account ZNK33</a></div>
        <div class="navigation-menu__allQuizzes  button"> <a href="#">All quizzes</a></div>
        <div class="navigation-menu__userQuizzes button"> <a href="#">My quizzes</a></div>
        <div class="navigation-menu__collection  button"> <a href="#">My collection</a></div>
        <div class="navigation-menu__friends     button"> <a href="#">Friends</a></div>
    </nav>
</div>