<div class="footer__container">
    <div class="footer__services">
        <div class="footer__support white-text fa-solid fa-headset">Support</div>
        <div id="languageForm" class="footer__localization white-text fa-solid fa-language">Change language</div>
        <div class="footer__gifts white-text fa-solid fa-gifts">Gifts</div>
    </div>
    <div class="footer__contacts">
        <div class="footer__network">
            <a href="#" class="icon footer__instagram fa-brands fa-instagram"></a>
            <a href="#" class="icon footer__twitter fa-brands fa-twitter"></a>
            <a href="#" class="icon footer__github fa-brands fa-github"></a>
        </div>
        <div class="footer__mobile text-size-12"><span class="fa-solid fa-phone phone"></span>Our contact number: +38(050)-011-1652</div>
    </div>
</div>