<div class="header__logo">
    <img class="header__logo-image" src="img/Logo.png">
</div>
<div class="header__container">
    <nav class="header__menu">
        <div class="header__allQuizzes  button"> <a href="#">All quizzes</a></div>
        <div class="header__userQuizzes button"> <a href="#">My quizzes</a></div>
        <div class="header__collection  button"> <a href="#">My collection</a></div>
        <div class="header__friends     button"> <a href="#">Friends</a></div>
    </nav>
</div>
<div class="header__profile">
    <div class="header__search-box">
        <input type="text" placeholder="search...">
        <a href="#" class="header__icon fa-solid fa-magnifying-glass"></a>
    </div>
    <div class="header__user">
        <div class="header__logIn">
            <a href="#" class="header__user-profile text-size-20">
                Sign In
            </a>
        </div>
        <!-- <a class="header__user-profile" href="#">
            <div class="header__image-container">
                <img class="header__user-image" src="img/users-vector-icon-png_260862.jpg">
            </div>
            <div class="header__user-name"><p class="header__nickname">ZNK33</p></div>
        </a> -->
    </div>
    <div class="header__menu-icon">
        <i class="fa-solid fa-bars text-size-20"></i>
    </div>
</div>