<div class="overlay_popup-hidden" id="overlay_popup-hidden"></div>
<div class="language-hidden" id="language">
    <div class="language__title text-size-20">CHOOSE YOUR LANGUAGE</div>
    <div class="language__container">
        <div class="language__button">
            <button id = "ukr" class="language__item"><svg><rect></rect></svg>Українська</button>
        </div>
        <div class="language__button">
            <button id = "en" class="language__item"><svg><rect></rect></svg>English</button>
        </div>
    </div>
</div>