
<div class="main__slider-container">
    <div class="main__top-container">
        <div class="main__slider-title"><h2>Title of the quiz collection</h2></div>
        <div class="main__arrows"></div>
    </div>
    
    <div class="main__slider">
        <div class="main__item">
            <img data-lazy="img/quiz_item.jpg" class="main__picture" alt="">
            <div class="main__card-content">
                <div class="main__item-text">
                    <h3 class="main__card-title">The quiz</h3>
                    <span class="main__card-subtitle">1 hour ago</span>
                </div>
                <div class="main__button-container">
                    <a href="#" class="main__button language__button">
                        <button id = "en" class="main__button language__item"><svg><rect></rect></svg>Play</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="main__item">
            <img data-lazy="img/quiz_item.jpg" class="main__picture" alt="">
            <div class="main__card-content">
                <div class="main__item-text">
                    <h3 class="main__card-title">The quiz</h3>
                    <span class="main__card-subtitle">1 hour ago</span>
                </div>
                <div class="main__button-container">
                    <a href="#" class="main__button language__button">
                        <button id = "en" class="main__button language__item"><svg><rect></rect></svg>Play</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="main__item">
            <img data-lazy="img/quiz_item.jpg" class="main__picture" alt="">
            <div class="main__card-content">
                <div class="main__item-text">
                    <h3 class="main__card-title">The quiz</h3>
                    <span class="main__card-subtitle">1 hour ago</span>
                </div>
                <div class="main__button-container">
                    <a href="#" class="main__button language__button">
                        <button id = "en" class="main__button language__item"><svg><rect></rect></svg>Play</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="main__item">
            <img data-lazy="img/quiz_item.jpg" class="main__picture" alt="">
            <div class="main__card-content">
                <div class="main__item-text">
                    <h3 class="main__card-title">The quiz</h3>
                    <span class="main__card-subtitle">1 hour ago</span>
                </div>
                <div class="main__button-container">
                    <a href="#" class="main__button language__button">
                        <button id = "en" class="main__button language__item"><svg><rect></rect></svg>Play</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="main__item">
            <img data-lazy="img/quiz_item.jpg" class="main__picture" alt="">
            <div class="main__card-content">
                <div class="main__item-text">
                    <h3 class="main__card-title">The quiz</h3>
                    <span class="main__card-subtitle">1 hour ago</span>
                </div>
                <div class="main__button-container">
                    <a href="#" class="main__button language__button">
                        <button id = "en" class="main__button language__item"><svg><rect></rect></svg>Play</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="main__item">
            <img data-lazy="img/quiz_item.jpg" class="main__picture" alt="">
            <div class="main__card-content">
                <div class="main__item-text">
                    <h3 class="main__card-title">The quiz</h3>
                    <span class="main__card-subtitle">1 hour ago</span>
                </div>
                <div class="main__button-container">
                    <a href="#" class="main__button language__button">
                        <button id = "en" class="main__button language__item"><svg><rect></rect></svg>Play</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="main__item">
            <img data-lazy="img/quiz_item.jpg" class="main__picture" alt="">
            <div class="main__card-content">
                <div class="main__item-text">
                    <h3 class="main__card-title">The quiz</h3>
                    <span class="main__card-subtitle">1 hour ago</span>
                </div>
                <div class="main__button-container">
                    <a href="#" class="main__button language__button">
                        <button id = "en" class="main__button language__item"><svg><rect></rect></svg>Play</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>