/* .fonts{
    ELSE: font-family: 'Caveat', cursive;

    MAIN: font-family: 'Play', sans-serif;
} */

/* ============RESER=========== */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #fff;
}


a:active,
a:hover,
a{
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

li{
    list-style-type: none;
}

body{
  font-size: 12px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,94,1) 30%, rgba(0,53,64,1) 100%);
  font-family: 'Play', sans-serif;
}



/*================MODIFICATIONS=========*/

h3{
  font-size: 24px;
}
h2{
  font-size: 32px;
  font-weight: 700;
}

.button{
  min-width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 10px;
  border-radius: 10px;
  transition: 0.15s;
}

.inline{
  white-space: nowrap;
}
.toUpper{
  text-transform: uppercase;
  font-weight: 700;
}
.button:hover{
  -webkit-transform: skew(-10deg);
     -moz-transform: skew(-10deg);
       -o-transform: skew(-10deg);
  background: #fff;
}
.button:hover>a{
  color: #000;
}

.white-text:hover{
  color: #fff;
  cursor: pointer;
}
.yellow-text{
  color: #fecd19 ;
}
.text-color-black{
  color: #000 ;
}
.cursive{
  font-style: italic;
}
.line{
  height: 2px;
  width: 100%;
  background-color: #536179;
  margin-left:20px;
}
.text-size-32{
  font-size: 32px;
}
.text-size-20{
  font-size: 20px;
}
.text-size-18{
  font-size: 18px;
}
.text-size-16{
  font-size: 16px;
}
.text-size-14{
  font-size: 14px;
}
.background-blue{
  background-color: #285AEB;
}
.background-green{
  background-color: #6cb928;
}
.color-grey{
  color: #b6b6ba;
}
/* button for items */
.language__item{
  position: relative;
  min-width: 200px;
  height: 60px;
  border-style: none;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.language__item svg,
.language__item svg rect{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}
.language__item svg rect{
  stroke: #00e2ff;
  stroke-width: 4;
  transition: 2s;
  stroke-dasharray: 60 200;
  stroke-dashoffset: 300;
}
.language__item:hover svg rect{
  stroke: #ff0;
  stroke-dasharray: 200 60;
  stroke-dashoffset: 0;
}
.language__button{
  margin: 10px 0 ;
}
.button-round{
  min-width: 100px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 10px;
  border-radius: 30px;
  transition: 0.15s;
}

.button-round:hover{
  transform: scale(1.1);
}

/* ===============SLICK SLIDER============ */

.main__slider-container{
  margin: 20px 40px 20px 40px;
}
.main__item{
  margin: 0 10px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.main__picture{
  width: 100%;
  height: 100%;
}
.main__item:hover .main__card-content{
  opacity: 1;
  height: 100%;
}
.main__card-content{
  position: absolute;
  left: 0;
  bottom: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 0;
  opacity: 0;
  transition: 0.5s ease;
}
.main__item-text{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__button-container{
  display: flex;
  justify-content: center;
}
.main__slider-title{
  font-size: 36px;
  margin: 20px 0px;
}

.slick-track{
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
.slick-list{
  overflow: hidden;
}
.main__slider{
  position: relative;
}
.main__top-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__arrows{
  display: flex;
  justify-content: space-between;
  max-width: 70px;
  width: 100%;
  align-items: center;
}
.main__top-container .slick-arrow{
  font-size: 0px;
}
.main__top-container .slick-arrow.slick-prev{
  left: 0;
  background: url('../img/sl-arrow_l.svg') 0 0 / 40% no-repeat;
  background-position:40% 50%;
  height: 30px;
  width: 30px;
  border: 1px #fff solid;
  border-radius: 50%;
}
.main__top-container .slick-arrow.slick-next{
  right: 0;
  background: url('../img/sl-arrow_r.svg') 0 0 / 40% no-repeat;
  background-position: 60% 50%;
  height: 30px;
  width: 30px;
  border: 1px #fff solid;
  border-radius: 50%;
}
.slick-slider-left{
  position: absolute;
}

.main__slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.main__slider .slick-dots li{
	list-style: none;
	margin: 10px 10px;
}
.main__slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.main__slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.main__item {

}
.main__item img{
	max-width: 100%;
}

.main__title-of-item{
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width:  260px;
  font-size: 18px;
  height: 22px;
}

.main__arrows{
  position: relative;
}

/* ===============HEADER============== */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
    align-items: center;
}
.header__logo{
  max-width: 100px;
}
.header__logo-image{
  max-width: 100%;
  height: auto;
}

.header__profile{
  display: flex;
  justify-content: end;
  align-items: center;
  
}

/* search-box */

.header__search-box{
  background: #2C3441;
  height: 35px;
  border-radius: 35px ;
  padding: 5px;
}
.header__search-box>input{
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 35px;
  color:#fff;
}
.header__icon{
  color: #21DFCD;
  float:right;
  width: 35px;
  font-size: 1.3rem;
  height: 35px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.header__search-box:hover>.header__icon{
  background: #536179;
}
.header__icon:hover{
  transform: rotate(360deg) scale(0.8);
}
.header__search-box:hover>input{
  width: 175px;
  padding: 0 10px;
}

/* user */
.header__user-profile{
  padding: 5px 20px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__nickname{
  font-size: 18px;
}

.header__user-image{
max-width: 75px;
max-height: 75px;
border-radius: 50%;
/* margin: 5px; */
}
.header__image-container{
  max-height: 75px;
  border-radius: 50%;
  border: 4px solid rgba(17,17,94,1);
  transition: 0.2s;
}
.header__user-profile:hover>.header__image-container{
  border: 4px solid #fff;
}
.header__user-profile:hover .header__nickname{
 color: #fff;
}

.header__menu-icon{
  position: absolute;
  visibility: hidden;
  margin-right:10px;
  padding: 10px;
}
.navigation-menu{
  visibility: hidden;
  position: absolute;
}

/* =======================FOOTER=================== */
html,body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.footer{
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px  0px 20px 0px;
  border-top: 1px #b6b6ba solid;
}

.footer__container{
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 40px 0px 40px;
}

.footer__services{
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  font-size: 16px;
}

.footer__mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.phone{
  margin-right: 5px;
}

.footer__network{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}

.icon{
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #b6b6ba;
  border-radius: 50%;
  outline: 2px solid #b6b6ba;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon:hover{
  outline-offset: 4px;
}
.icon:hover{
  animation: shake .25s;
}
.footer__instagram:hover{
  background-image:
  radial-gradient(circle at 30% 107%,
  #fdf497 0%, #fdf497 5%,
  #fd5949 45%, #d6249f 60%,
  #285AEB 90%);
  outline-color: #a02d76;
}

.footer__twitter:hover{
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.footer__github:hover{
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

@keyframes shake{
  10%{transform: rotate(15deg);}
  20%{transform: rotate(-15deg);}
  30%{transform: rotate(15deg);}
  40%{transform: rotate(-15deg);}
}


/* ============LANGUAGES============= */

.language-active{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 150px;
  background-color: #2C3441;
  border-radius: 30px;
  border: 1px #000 solid;
  flex-direction: column;
  display: flex;
  align-items: center;
  z-index: 999;
}
.language-hidden{
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 150px;
  background-color: #2C3441;
  border-radius: 30px;
  border: 1px #000 solid;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.language__title{
  margin: 20px 0 ;
}
.laguage__container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay_popup-active {
  display: absolute;
  position:fixed;
  z-index: 999;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:#000;
  opacity:0.7;
}
.overlay_popup-hidden {
  display: absolute;
  visibility: hidden;
}


/*================MAIN CONTENT=================*/

.main{
  display: flex;
  justify-content: center;
  width: 100%;
}

.main__container{
  max-width: 1300px ;
  width: 100%;
  padding: 0;
  position: relative;
}


/* ============================================= */
/* ================PRE-QUIZ===================== */
/* ============================================= */

.main__quiz-info{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0
}
.main__quiz-title{
  margin-bottom: 20px;
}
.main__block-container{
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__block-content{
  margin: 30px 0px 20px 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  flex-wrap:wrap;
}

.main__block{
  width: 192px;
  height: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(27,0,36);
  background: linear-gradient(0deg, rgba(27,0,36,0.47942927170868344) 0%, rgba(75,17,94,0.4990371148459384) 36%, rgba(64,0,61,0.6418942577030813) 100%);
  border-radius: 15px;
}

.main__block-info{
  display: flex;
  justify-content: center;
  gap: 5px;
  max-width: 255px;
  width: 100%;
  padding: 10px 15px;
  background-color: #7950e5;
  border-radius: 20px;
}
.main__container-line{
  height: 1px;
  max-width: 596px;
  width: 80%;
  background-color: #536179;
}
.main__button-play{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}


/* ============================================= */
/* ================User Quizzes===================== */
/* ============================================= */

.main__central-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 40px;
  gap: 15px;
}

.main__buttons-for-editing{
  display: flex;
  flex-direction: column;
}

.main__normal-container{
  position: relative;
  margin: 0 40px;
}

.main__undder-title{
  display: flex;
  align-items: center;
}

.main__under-title{
  display: flex;
  align-items: center;
}

.main__past-quiz{
  height: 44px;
  background-color: rgba(16,16,28,.5);
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px 0;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__past-quiz:hover{
  transform: scale(1.01);
}
.main__past-quiz-info{
  display: flex;
  gap: 10px;
}



/* =================================================== */
/* ================== JOIN TO QUIZ =================== */
/* =================================================== */
.result{
  text-align: center;
  color: orange;
  font-size: 2em;
  font-weight: bold;
  margin-top: 1.5em;
  display: block;
}
.main__input-container > input{
  outline: 0;
  width: 70px;
  height: 95px;
  padding: 5px;
  margin:5px;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  font-size: 3em;
  cursor: pointer;
  border: 1px solid #536179;
  border-radius: 10px;
  color: #fff;
  transition: 0.2s;
}
.main__input-container > input:focus{
  border: 1px solid #fecd19;
}
.join-input-active > input{
  border: 1px solid #fff;
}
.main__central-page{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* =================================================== */
/* ================== CREATE QUIZ =================== */
/* =================================================== */

.main__control-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main__game-editor{
  width: 100%;
}

.main__game-controller{
  width: 288px;
  min-height: 560px;
  background: rgba(16,16,28,.6);
  padding: 20px 16px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.main__game-blocks{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main__button-add{
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-of-components{
  margin: 1.5rem 0;
}

.button-component-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.list{
  display: flex;
  margin: 8px;
  cursor: move;
}
.button-component{
  width: 216px;
  padding: 12px;
  background-color: #fff;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.list button{
  display: flex;
  justify-content: flex-start;
}
.button-component > p{
 
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.trash{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  visibility: hidden;
  transition: 0.1s;
}

.list:hover .trash{
  visibility: visible;
}

.list .over {
  border: 3px solid #7950e5;
}
.no-trash > .trash{
  opacity: 0;
}
.list__margin{
  width: 14px;
}









@media (max-width: 1175px){
  .header__container{
    position: absolute;
    visibility: hidden;
  }
  .footer__container{
    flex-direction: column;
    align-items: start;
  }
  .footer__services{
    padding: 20px 0;
    font-size: 14px;
    flex-direction: column;
    gap: 10px;
  }
  .header__user-image{
    max-width: 45px;
    max-height: 45px;
  }
  .header__image-container{
    max-height: 45px;
  }

  /* =================================================== */
  /* ================= BURGER MENU ===================== */
  /* =================================================== */

  .header__user{
    position: absolute;
    visibility: hidden;
  }

  .header__menu-icon{
    position: relative;
    visibility: visible;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    transition: 0.2s linear;
  }
  .header__menu-icon :hover{
    opacity: 0.9;
    transform: scale(1.2);
  }
  .navigation-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3a47;
    top: 0;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
  }
  .navigation-menu .navigation-menu__container{
    display: grid;
  }

  .navigation-menu .navigation-menu__container .button{
    overflow: hidden;
  }
  .navigation-menu.active{
    right: 0;
    visibility: visible;
    position: fixed;
  }


  /* INPUT JOIN QUIZ */

  .main__input-container > input{
    width: 45px;
    height: 60px;
  }
}











